.interested-text {
  flex-wrap: wrap; /* Ensure text wraps inside the container */
  overflow: hidden; /* Prevent text from going outside the container */
  display: inline-block; /* Ensures text wraps properly */
  white-space: normal; /* Allow text to wrap at spaces */
  word-break: break-word; /* Ensure long words break properly */
  line-height: 1.3; /* Add some space between lines */
  overflow-wrap: anywhere; /* Allow text to wrap cleanly without breaking words */
  gap: 0.2em; /* Space between letters */
}

.letter {
  opacity: 0.5;

  animation: fadeIn 1.5s ease-in-out infinite; /* Infinite animation */
}

@keyframes fadeIn {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
